                        <div id="kt_object_add-edit_modal" class="modal fade" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-l modal-dialog-centered" role="document">
                                <div class="modal-content" style="min-height: 590px;">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            <span class="view-object-header"></span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="kt-form kt-form--label-right user-add-edit-form" _lpchecked="1">
                                            <div class="kt-portlet__body">
                                                <div class="form-group row">
                                                    <label for="company_id" class="col-2 col-form-label">Company ID</label>
                                                    <div class="col-10">
                                                        <input name="company_id" class="form-control" type="text" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="first_name" class="col-2 col-form-label">First Name</label>
                                                    <div class="col-10">
                                                        <input name="first_name" class="form-control" type="text" value="">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="last_name" class="col-2 col-form-label">Last Name</label>
                                                    <div class="col-10">
                                                        <input name="last_name" class="form-control" type="text" value="">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="email_address" class="col-2 col-form-label">Email Address</label>
                                                    <div class="col-10">
                                                        <input name="email_address" class="form-control" type="text" value="">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="phone_number" class="col-2 col-form-label">Phone Number</label>
                                                    <div class="col-10">
                                                        <input name="phone_number" class="form-control" type="text" value="">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="company_permissions" class="col-2 col-form-label">Company Permissions</label>
                                                    <div class="col-10">
                                                        <input name="company_permissions" disabled class="form-control" type="text" value="">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="contact_type" class="col-2 col-form-label">Contact Type</label>
                                                    <div></div>
                                                    <select name="contact_type" class="custom-select form-control">
                                                        <option>Select a contact type...</option>
                                                        <option selected value="none">None</option>
                                                        <option value="admin">Admin</option>
                                                        <option value="technical">Technical</option>
                                                        <option value="marketing">Marketing</option>
                                                    </select>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="company_contact" class="col-2 col-form-label">Company Contact</label>
                                                    <span class="kt-switch">
                                                        <label>
                                                            <input name="company_contact" type="checkbox" checked="checked" />
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="active" class="col-2 col-form-label">Active</label>
                                                    <span class="kt-switch">
                                                        <label>
                                                            <input name="active" type="checkbox" checked="checked" />
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="kt-portlet__foot">
                                                <div class="kt-form__actions">
                                                    <div class="row">
                                                        <div class="col-2">
                                                        </div>
                                                        <div class="col-10">
                                                            <button class="btn btn-success submit-edit-add-form">Submit</button>
                                                            <button class="btn btn-secondary cancel-edit-add-form">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="_csrf" value="<%- _csrf %>" />
                                        </form>
                                    </div>
                                    <!-- <div class="modal-body modal-body-fit"></div> -->
                                    <!-- <div class="modal-footer kt-hidden">
                                        <button type="button" class="btn btn-clean btn-bold btn-upper btn-font-md" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-default btn-bold btn-upper btn-font-md">Submit</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>