                        <div id="kt_object_add-edit_modal" class="modal fade" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-l modal-dialog-centered" role="document">
                                <div class="modal-content" style="min-height: 590px;">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            <span class="view-object-header"></span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <form class="kt-form kt-form--label-right company-add-edit-form" _lpchecked="1">
                                            <div class="kt-portlet__body">
                                                <div class="form-group row">
                                                    <label for="name" class="col-2 col-form-label">Name*:</label>
                                                    <div class="col-10">
                                                        <input name="name" class="form-control" type="text" value="" maxlength="80" autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="description" class="col-2 col-form-label">Description:</label>
                                                    <div class="col-10">
                                                        <input name="description" class="form-control" type="text" value="" maxlength="1000" autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="address" class="col-2 col-form-label">Address Line 1*:</label>
                                                    <div class="col-10">
                                                        <input name="address1" class="form-control" type="text" value="" maxlength="255" autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="address" class="col-2 col-form-label">Address Line 2:</label>
                                                    <div class="col-10">
                                                        <input name="address2" class="form-control" type="text" value="" maxlength="255" autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="city" class="col-2 col-form-label">City*:</label>
                                                    <div class="col-10">
                                                        <input name="city" class="form-control" type="text" value="" maxlength="80" autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="state" class="col-2 col-form-label">State/Province*:</label>
                                                    <div class="col-10">
                                                        <input name="state_province" class="form-control" type="text" value="" maxlength="2" autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="zip" class="col-2 col-form-label">Zip/Postal Code*:</label>
                                                    <div class="col-10">
                                                        <input name="postal_code" class="form-control" type="text" value="" maxlength="5" autocomplete="off">
                                                    </div>
                                                </div>

                                                <!--
                                                <div class="form-group row">
                                                    <label for="country" class="col-2 col-form-label">Country*:</label>
                                                    <div class="col-10">
                                                        <select name="country" class="form-control">
                                                            <option value="United States">United States</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                -->

                                                 <div class="form-group row">
                                                    <label for="zip" class="col-2 col-form-label">Website:</label>
                                                    <div class="col-10">
                                                        <input name="website" class="form-control" type="text" value="" autocomplete="off">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="kt-portlet__foot">
                                                <div class="kt-form__actions">
                                                    <div class="row">
                                                        <div class="col-2">
                                                        </div>
                                                        <div class="col-10">
                                                            <button class="btn btn-success submit-edit-add-form">Submit</button>
                                                            <button class="btn btn-secondary cancel-edit-add-form">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="_csrf" value="<%- _csrf %>" />
                                        </form>
                                    </div>
                                    <!-- <div class="modal-body modal-body-fit"></div> -->
                                    <!-- <div class="modal-footer kt-hidden">
                                        <button type="button" class="btn btn-clean btn-bold btn-upper btn-font-md" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-default btn-bold btn-upper btn-font-md">Submit</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>