                        <div id="kt_object_add-edit_modal" class="modal fade" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content" style="min-height: 590px;">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            <span class="view-object-header"></span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="kt-form kt-form--label-right user-add-edit-form" _lpchecked="1">
                                            <div class="kt-portlet__body">

                                                <div class="form-group row">
                                                    <label for="user_type_id" class="col-2 col-form-label">User Type*:</label>
                                                    <div class="col-10">
                                                        <select name="user_type_id" class="custom-select form-control">
                                                            <option selected>Select a contact type...</option>
                                                            <option value="1">Admin</option>
                                                            <option value="2">CompanyUser</option>
                                                            <option value="3">AppUser</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="registration_source" class="col-2 col-form-label">Registration Type*:</label>
                                                    <div class="col-10">
                                                        <select name="registration_source" class="custom-select form-control">
                                                            <option value="">Select a registration source...</option>
                                                            <option selected value="email">Email</option>
                                                            <option value="sso_facebook">FB</option>
                                                            <option value="sso_google">Google</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="company_id" class="col-2 col-form-label">Company ID*:</label>
                                                    <div class="col-10">
                                                        <input name="company_id" class="form-control" type="text" value="">
                                                    </div>
                                                </div>

                                                <!--
                                                <div class="form-group row">
                                                    <label for="company_role" class="col-2 col-form-label">Company Role*:</label>
                                                    <div class="col-10">
                                                        <select name="company_role" class="custom-select form-control">
                                                            <option>Select a contact type...</option>
                                                            <option value="none">None</option>
                                                            <option value="admin">Admin</option>
                                                            <option value="technical">Technical</option>
                                                            <option value="marketing">Marketing</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                -->

                                                <div class="form-group row">
                                                    <label for="first_name" class="col-2 col-form-label">First Name*:</label>
                                                    <div class="col-10">
                                                        <input name="first_name" class="form-control" type="text" value="" maxlength="80" autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="last_name" class="col-2 col-form-label">Last Name*:</label>
                                                    <div class="col-10">
                                                        <input name="last_name" class="form-control" type="text" value="" maxlength="80" autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="email_address" class="col-2 col-form-label">Email Address*:</label>
                                                    <div class="col-10">
                                                        <input name="email_address" class="form-control" type="text" value="" maxlength="255" autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="phone_number" class="col-2 col-form-label">Phone Number*:</label>
                                                    <div class="col-10">
                                                        <input name="phone_number" class="form-control" type="text" value="" autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="city" class="col-2 col-form-label">City*:</label>
                                                    <div class="col-10">
                                                        <input name="city" class="form-control" type="text" value="" maxlength="80" autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="state" class="col-2 col-form-label">State*:</label>
                                                    <div class="col-10">
                                                        <input name="state" class="form-control" type="text" value="" maxlength="2" autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="notifications" class="col-2 col-form-label">Notifications:</label>
                                                    <div class="col-10">
                                                        <input name="notifications" disabled class="form-control" type="text" value="">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="active" class="col-2 col-form-label">Active</label>
                                                    <span class="kt-switch">
                                                        <label>
                                                            <input name="active" type="checkbox" checked="checked" />
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="kt-portlet__foot">
                                                <div class="kt-form__actions">
                                                    <div class="row">
                                                        <div class="col-2">
                                                        </div>
                                                        <div class="col-10">
                                                            <button class="btn btn-success submit-edit-add-form">Submit</button>
                                                            <button class="btn btn-secondary cancel-edit-add-form">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="_csrf" value="<%- _csrf %>" />
                                        </form>
                                    </div>
                                    <!-- <div class="modal-body modal-body-fit"></div> -->
                                    <!-- <div class="modal-footer kt-hidden">
                                        <button type="button" class="btn btn-clean btn-bold btn-upper btn-font-md" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-default btn-bold btn-upper btn-font-md">Submit</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>