                        <div id="kt_view_modal" class="modal fade" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-l modal-dialog-centered" role="document">
                                <div class="modal-content" style="min-height: 590px;">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            <span class="view-object-header"></span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                            <div class="kt-widget13">
                                                <div class="kt-widget13__item">
                                                    <span class="kt-widget13__desc">
                                                        Company Name
                                                    </span>
                                                    <span class="kt-widget13__text kt-font-brand kt-widget13__text--bold">
                                                        <span class="object-field-name"></span>
                                                    </span>
                                                </div>
                                                <div class="kt-widget13__item">
                                                    <span class="kt-widget13__desc">
                                                        Description:
                                                    </span>
                                                    <span class="kt-widget13__text">
                                                        <span class="object-field-description"></span>
                                                    </span>
                                                </div>
                                                <div class="kt-widget13__item">
                                                    <span class="kt-widget13__desc">
                                                        Address:
                                                    </span>
                                                    <span class="kt-widget13__text">
                                                        <span class="object-field-address"></span>
                                                    </span>
                                                </div>
                                                <div class="kt-widget13__item">
                                                    <span class="kt-widget13__desc">
                                                        City:
                                                    </span>
                                                    <span class="kt-widget13__text">
                                                        <span class="object-field-city"></span>
                                                    </span>
                                                </div>
                                                <div class="kt-widget13__item">
                                                    <span class="kt-widget13__desc">
                                                        State:
                                                    </span>
                                                    <span class="kt-widget13__text">
                                                        <span class="object-field-state"></span>
                                                    </span>
                                                </div>
                                                <div class="kt-widget13__item">
                                                    <span class="kt-widget13__desc">
                                                        State:
                                                    </span>
                                                    <span class="kt-widget13__text">
                                                        <span class="object-field-zip"></span>
                                                    </span>
                                                </div>
                                            </div>
                                    </div>
                                    <!-- <div class="modal-body modal-body-fit"></div> -->
                                    <!-- <div class="modal-footer kt-hidden">
                                        <button type="button" class="btn btn-clean btn-bold btn-upper btn-font-md" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-default btn-bold btn-upper btn-font-md">Submit</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>