                        <div id="kt_view_modal" class="modal fade" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-l modal-dialog-centered" role="document">
                                <div class="modal-content" style="min-height: 590px;">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            <span class="view-object-header"></span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                            <div class="kt-widget13">
                                                <div class="kt-widget13__item">
                                                    <span class="kt-widget13__desc">
                                                        Company ID / Name:
                                                    </span>
                                                    <span class="kt-widget13__text">
                                                        <span class="object-field-company_id"></span>
                                                    </span>
                                                </div>
                                                <div class="kt-widget13__item">
                                                    <span class="kt-widget13__desc">
                                                        Name:
                                                    </span>
                                                    <span class="kt-widget13__text">
                                                        <span class="object-field-name"></span>
                                                    </span>
                                                </div>
                                                <div class="kt-widget13__item">
                                                    <span class="kt-widget13__desc">
                                                        Category:
                                                    </span>
                                                    <span class="kt-widget13__text">
                                                        <span class="object-field-category"></span>
                                                    </span>
                                                </div>
                                                <div class="kt-widget13__item">
                                                    <span class="kt-widget13__desc">
                                                        Description:
                                                    </span>
                                                    <span class="kt-widget13__text">
                                                        <span class="object-field-description"></span>
                                                    </span>
                                                </div>
                                                <div class="kt-widget13__item">
                                                    <span class="kt-widget13__desc">
                                                        Game ID / Name:
                                                    </span>
                                                    <span class="kt-widget13__text">
                                                        <span class="object-field-game_id"></span>
                                                    </span>
                                                </div>
                                                <div class="kt-widget13__item">
                                                    <span class="kt-widget13__desc">
                                                        Data:
                                                    </span>
                                                    <span class="kt-widget13__text">
                                                        <span class="object-field-data"></span>
                                                    </span>
                                                </div>
                                                <div class="kt-widget13__item">
                                                    <span class="kt-widget13__desc">
                                                        Date Start:
                                                    </span>
                                                    <span class="kt-widget13__text">
                                                        <span class="object-field-date_start"></span>
                                                    </span>
                                                </div>
                                                <div class="kt-widget13__item">
                                                    <span class="kt-widget13__desc">
                                                        Date End:
                                                    </span>
                                                    <span class="kt-widget13__text">
                                                        <span class="object-field-date_end"></span>
                                                    </span>
                                                </div>
                                                <div class="kt-widget13__item">
                                                    <span class="kt-widget13__desc">
                                                        Created At:
                                                    </span>
                                                    <span class="kt-widget13__text">
                                                        <span class="object-field-created_at"></span>
                                                    </span>
                                                </div>
                                                <div class="kt-widget13__item">
                                                    <span class="kt-widget13__desc">
                                                        Updated At:
                                                    </span>
                                                    <span class="kt-widget13__text">
                                                        <span class="object-field-updated_at"></span>
                                                    </span>
                                                </div>
                                            </div>
                                    </div>
                                    <!-- <div class="modal-body modal-body-fit"></div> -->
                                    <!-- <div class="modal-footer kt-hidden">
                                        <button type="button" class="btn btn-clean btn-bold btn-upper btn-font-md" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-default btn-bold btn-upper btn-font-md">Submit</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>