        <div class="kt-grid kt-grid--ver kt-grid--root">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v1">
                <div class="kt-error-v1__container">
                    <h1 class="kt-error-v1__number"><%- error_status %></h1>
                    <p class="kt-error-v1__desc">
                        OOPS! That page doesn't exist.
                    </p>
                </div>
            </div>
        </div>