<h1>New Password</h1>

<form method="POST" url="/companyuser/newpassword">
    <p>password1 field: <input type="input" name="password1" value="" /></p>
    <p>password2 field: <input type="input" name="password2" value="" /></p>
    <input type="hidden" name="_csrf" value="<%- _csrf %>" />
    <input type="submit" value="Submit" />
</form>