#/usr/lib/systemd/system/poppit.service

[Unit]
Description=Job that runs Poppit forever
After=network.target

[Service]
Environment=PATH=/home/brandon/.nvm/versions/node/v12.18.4/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin
User=__FOREVER_START_USER__
Group=__FOREVER_START_GROUP__
ExecStart=/bin/bash __FOREVER_START_SCRIPT__
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target